{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body>

    <div class="container">
        <div class="jumbotron">
          <h1>Hockey Stick Weekly</h1>
          <p class="lead">Your weekly dose of inspiration for growing and scaling your technology business, delivered straight to your inbox.</p>
        </div>
        
     <div class="row marketing">
        <div class="col-lg-8 col-lg-offset-2">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="http://hockeystickweekly.us2.list-manage1.com/subscribe/post?u=b8ac525f48e3c47dfefe339fb&amp;id=04262269f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <p>Subscribe now and receive our <strong>handpicked</strong> selection of articles and resources for tech entrepreneurs <strong>for free</strong>. We cover <strong>SaaS</strong> and <strong>Cloud</strong>, <strong>growth hacking</strong>, <strong>lean startup</strong> and <strong>technology trends</strong>.</p>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address </label>
              <input type="email" value="" name="EMAIL" class="required email" placeholder="Enter email" id="mce-EMAIL">
              <input type="submit" value="Subscribe, it's free!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
            </div>
            <div><br />Missed a previous newsletter? Check out our full <a href="/blog/archives/" title="Archive">archive.</a></div> 
              <div id="mce-responses" class="clear">
                <div class="response alert alert-warning" id="mce-error-response" style="display:none"></div>
                <div class="response alert alert-success" id="mce-success-response" style="display:none"></div>
              </div>  <div class="clear"></div>
            </form>
            </div>
            <script type="text/javascript">
            var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
            try {
                var jqueryLoaded=jQuery;
                jqueryLoaded=true;
            } catch(err) {
                var jqueryLoaded=false;
            }
            var head= document.getElementsByTagName('head')[0];
            if (!jqueryLoaded) {
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
                head.appendChild(script);
                if (script.readyState && script.onload!==null){
                    script.onreadystatechange= function () {
                          if (this.readyState == 'complete') mce_preload_check();
                    }    
                }
            }

            var err_style = '';
            try{
                err_style = mc_custom_error_style;
            } catch(e){
                err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
            }
            var head= document.getElementsByTagName('head')[0];
            var style= document.createElement('style');
            style.type= 'text/css';
            if (style.styleSheet) {
              style.styleSheet.cssText = err_style;
            } else {
              style.appendChild(document.createTextNode(err_style));
            }
            head.appendChild(style);
            setTimeout('mce_preload_check();', 250);

            var mce_preload_checks = 0;
            function mce_preload_check(){
                if (mce_preload_checks>40) return;
                mce_preload_checks++;
                try {
                    var jqueryLoaded=jQuery;
                } catch(err) {
                    setTimeout('mce_preload_check();', 250);
                    return;
                }
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
                head.appendChild(script);
                try {
                    var validatorLoaded=jQuery("#fake-form").validate({});
                } catch(err) {
                    setTimeout('mce_preload_check();', 250);
                    return;
                }
                mce_init_form();
            }
            function mce_init_form(){
                jQuery(document).ready( function($) {
                  var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
                  var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
                  $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
                  options = { url: 'http://hockeystickweekly.us2.list-manage.com/subscribe/post-json?u=b8ac525f48e3c47dfefe339fb&id=04262269f2&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                                beforeSubmit: function(){
                                    $('#mce_tmp_error_msg').remove();
                                    $('.datefield','#mc_embed_signup').each(
                                        function(){
                                            var txt = 'filled';
                                            var fields = new Array();
                                            var i = 0;
                                            $(':text', this).each(
                                                function(){
                                                    fields[i] = this;
                                                    i++;
                                                });
                                            $(':hidden', this).each(
                                                function(){
                                                    var bday = false;
                                                    if (fields.length == 2){
                                                        bday = true;
                                                        fields[2] = {'value':1970};//trick birthdays into having years
                                                    }
                                                  if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                    this.value = '';
                                  } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                    this.value = '';
                                  } else {
                                      if (/\[day\]/.test(fields[0].name)){
                                                          this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                         
                                      } else {
                                                          this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                      }
                                                  }
                                                });
                                        });
                                    $('.phonefield-us','#mc_embed_signup').each(
                                        function(){
                                            var fields = new Array();
                                            var i = 0;
                                            $(':text', this).each(
                                                function(){
                                                    fields[i] = this;
                                                    i++;
                                                });
                                            $(':hidden', this).each(
                                                function(){
                                                    if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                                    this.value = '';
                                  } else {
                                      this.value = 'filled';
                                                  }
                                                });
                                        });
                                    return mce_validator.form();
                                }, 
                                success: mce_success_cb
                            };
                  $('#mc-embedded-subscribe-form').ajaxForm(options);


                });
            }
            function mce_success_cb(resp){
                $('#mce-success-response').hide();
                $('#mce-error-response').hide();
                if (resp.result=="success"){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(resp.msg);
                    $('#mc-embedded-subscribe-form').each(function(){
                        this.reset();
                  });
                  //Send GA event to track subscription
                  ga('send', 'event', 'Newsletter', 'Subscribe');
                } else {
                    var index = -1;
                    var msg;
                    try {
                        var parts = resp.msg.split(' - ',2);
                        if (parts[1]==undefined){
                            msg = resp.msg;
                        } else {
                            i = parseInt(parts[0]);
                            if (i.toString() == parts[0]){
                                index = parts[0];
                                msg = parts[1];
                            } else {
                                index = -1;
                                msg = resp.msg;
                            }
                        }
                    } catch(e){
                        index = -1;
                        msg = resp.msg;
                    }
                    try{
                        if (index== -1){
                            $('#mce-'+resp.result+'-response').show();
                            $('#mce-'+resp.result+'-response').html(msg);            
                        } else {
                            err_id = 'mce_tmp_error_msg';
                            html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                            var input_id = '#mc_embed_signup';
                            var f = $(input_id);
                            if (ftypes[index]=='address'){
                                input_id = '#mce-'+fnames[index]+'-addr1';
                                f = $(input_id).parent().parent().get(0);
                            } else if (ftypes[index]=='date'){
                                input_id = '#mce-'+fnames[index]+'-month';
                                f = $(input_id).parent().parent().get(0);
                            } else {
                                input_id = '#mce-'+fnames[index];
                                f = $().parent(input_id).get(0);
                            }
                            if (f){
                                $(f).append(html);
                                $(input_id).focus();
                            } else {
                                $('#mce-'+resp.result+'-response').show();
                                $('#mce-'+resp.result+'-response').html(msg);
                            }
                        }
                    } catch(e){
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);
                    }
                }
            }

            </script>

        </div>

      </div>
 
 <div class="row marketing">
     <div class="col-lg-4">
   <h4>Free</h4>
   <p>This service is provided for free, no credit cards, or hidden fees. I'm interested in this stuff anyway, so collecting the best content weekly for this newsletter is not a burden for me, hence, a $0.0 price tag.</p>
 </div>
 <div class="col-lg-4">
     <h4>Carefully Curated</h4>
     <p>You can spend days surfing and reading, instead of building your business. That's why we compile the 4-8 most inspiring stories to a weekly digest, summarized for your convenience.</p>
 </div>
 <div class="col-lg-4">
     <h4>Privacy: check!</h4>
     <p>Your email address is safe with us. We will not spam you or do other nasty things. You can unsubscribe at any moment, no questions asked.</p>
 </div>
 
 
 </div>
  {% include asides/recent_posts.html %}

     <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
    </div> <!-- /container -->
  </body>
</html>
