{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script type='text/javascript'>
var sniply_profile_id='54c1f25b6e95522244c8bae4'; var s, r, t; r=false; s=document.createElement('script'); s.type='text/javascript'; s.src='https://ffb2efd5105ff0aedbc9-9cdacdeebf0faa19b665bf427f0c8092.ssl.cf1.rackcdn.com/js-snippet/snip_external_links_library.js'; s.onload=s.onreadystatechange=function () { if (!r && (!this.readyState || this.readyState == 'complete')) { r=true; }}; t=document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);
</script>